.Top{
    text-align: center;
}

.Game {
    text-align: center;
} 

.Top p {
    line-height: 0.5;
}

.main {
    background-color: antiquewhite;
}

.bd-navbar {
    background-color: wheat;
}